---
import Layout from '~/layouts/PageLayout.astro';

import Testimonials from '~/components/widgets/Testimonial2.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Hero2 from '~/components/widgets/Hero2.astro';
import Features from '~/components/widgets/Features.astro';
import Steps2 from '~/components/widgets/Steps2.astro';
import Content from '~/components/widgets/Content.astro';
import TablaObjetivos from '~/components/widgets/TablaObjetivos.astro';
import Steps from '~/components/widgets/Steps.astro';
import Hero from '~/components/widgets/Hero.astro';
import FAQs from '~/components/widgets/FAQs.astro';

const metadata = {
  title: 'SaaS Landing Page',
};
---

<Layout metadata={metadata}>

  <Hero
    tagline="S&C FACTUR S.A DE C.V"
    title="Acta Constitutiva"
  />

  <!-- Features2 Widget ************** -->

  <Features2
    title="Datos"
    subtitle=""
    tagline=""
    items={[
      {
        title: 'Empresa / Organización ',
        description: "Implementación de software constructivas (ISC).",
        icon: 'flat-color-icons:template',
      },
      {
        title: 'Proyecto ',
        description:
          "S&C Factur S.A de C.V ",
        icon: 'flat-color-icons:gallery',
      },
      {
        title: 'Fecha de preparación ',
        description:
          '24/04/2024 ',
        icon: 'flat-color-icons:approval',
      },
      {
        title: 'Cliente ',
        description:
          "Empacadora Alum.",
        icon: 'flat-color-icons:document',
      },
      {
        title: 'Patrocinador principal ',
        description:
          'Empacadora Alum.',
        icon: 'flat-color-icons:advertising',
      },
      {
        title: 'Gerente de proyecto ',
        description: 'Sánchez Ramos Jorge Alberto.',
        icon: 'flat-color-icons:currency-exchange',
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Features2>

  <!-- Features2 Widget ************** -->

  <Features2
    title="Patrocinador / Patrocinadores "
    subtitle=""
    columns={2}
    items={[
      {
        title: 'Empresa contratante',
        description:
          'Empacadora Alum  / Departamento de crédito y cobranza.',
        icon: 'tabler:school',
      },
      {
        title: 'Encargado de desarrollar el proyecto',
        description:
          'Implementación de software constructivas (ISC).',
        icon: 'tabler:home-star',
      },
    ]}
  />

  <Features2
    title="Propósito y justificación del proyecto "
    subtitle={"El propósito se centra en mejorar la eficiencia del departamento de crédito y cobranza de la " +
              "empresa del cliente, para así lograr una mayor eficiencia la cual permita que la empresa pueda " +
              "crecer sin la necesidad de contratar más personal o que haya problemas de eficiencia al tratar " +
              "con los clientes. "}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Features2>

  <Features2
    title="Descripción del proyecto y entregables "
    subtitle={"Se realizará una aplicación de escritorio la cual permita cotejar los pagos con las facturas para " +
              "aplicar dichos pagos, las facturas podrán ser registradas en la base de datos de la aplicación y se podrán buscar por diferentes campos. Se entregará el proyecto, los manuales de usuario y técnico"}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0"></div>
    </Fragment>
  </Features2>

  <!-- Content Widget **************** -->

  <Content
    title="Requerimientos de alto nivel"
    items={[
      {
        description:
          'Ingresar y almacenarsusfacturas.',
      },
      {
        description: `Buscar en estas las que concuerdan con el pago recibido.`,
      },
      {
        description:
          'Búsqueda especializada de facturas.',
      },
      {
        description: `Historial de aplicación de pagos.`,
      },
      {
        description:
          'Calendario de vencimiento de facturas.',
      },
      {
        description: `Mostrar estadísticas de los clientes con más atrasos.`,
      }
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1619983081563-430f63602796?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80',
      alt: 'Departamento de Desarrollo de Software',
    }}
    callToAction={{
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        Requerimientos del producto:
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isReversed
    items={[
      {
        description:
          'Registrar nombre y logo.',
      },
      {
        description: 
        `Actualización del sistema operativo de los equipos.`,
      },
      {
        description:
          'Cumplir con el costo estimado.',
      },
      {
        description: `Desarrollar el proyecto en el tiempo estipulado.`,
      }
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1619983081563-430f63602796?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80',
      alt: 'Departamento de Desarrollo de Software',
    }}
    callToAction={{
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        Requerimientos del proyecto:
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <TablaObjetivos></TablaObjetivos>












<!-- Content Widget **************** -->

<Content
  title="Premisas y restricciones"
  items={[
    {
      description:
        'Los equipos requieren ser actualizados para que el proyecto funcione correctamente.',
    },
    {
      description: `La eficiencia de trabajo en el área es escasa.`,
    },
    {
      description:
        'Se requiere mejorar la eficiencia del departamento.',
    },
    {
      description: `El proyecto debe mejorar la eficiencia del departamento.`,
    }
  ]}
  image={{
    src: 'https://images.unsplash.com/photo-1619983081563-430f63602796?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80',
    alt: 'Departamento de Desarrollo de Software',
  }}
  callToAction={{
  }}
  >
  <Fragment slot="content">
    <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
      Premisas:
    </h3>
  </Fragment>

  <Fragment slot="bg">
    <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
  </Fragment>
</Content>

<!-- Content Widget **************** -->

<Content
  isReversed
  items={[
    {
      description:
        'No sobrepasar el coste del proyecto.',
    },
    {
      description: 
      `Reuniones mensuales con el cliente para discutir avances.`,
    }
  ]}
  image={{
    src: 'https://images.unsplash.com/photo-1619983081563-430f63602796?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80',
    alt: 'Departamento de Desarrollo de Software',
  }}
  callToAction={{
  }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        Restricciones:
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
</Content>


<!-- Content Widget **************** -->

<Content
  title="Riesgos iniciales de alto nivel"
  items={[
    {
      description:
        'El costo elevado.',
    },
    {
      description: `Corto tiempo de desarrollo.`,
    },
    {
      description:
        'No encontrar los desarrolladores a tiempo, para la etapa de desarrollo.',
    },
    {
      description: `Cambios imprevistos a proyecto.`,
    },
    {
      description: `Dificultades en el proceso de capacitación del personal.`,
    }
  ]}
  image={{
    src: 'https://images.unsplash.com/photo-1619983081563-430f63602796?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80',
    alt: 'Departamento de Desarrollo de Software',
  }}
  callToAction={{
  }}
/>



  <!-- Steps Widget ****************** -->

  <Steps
    id="resume"
    title="Cronograma de hitos principales"
    items={[
      {
        title: `Inicio <br /> <span class="text-sm font-normal">16/02/2024</span>`,
        icon: 'tabler:school',
      },
      {
        title: ` Documentación <br /> <span class="text-sm font-normal">27/03/2024</span>`,
        icon: 'tabler:school',
      },
      {
        title: `Desarrollo <br /> <span class="text-sm font-normal">20/06/2024</span>`,
        icon: 'tabler:school',
      },
      {
        title: ` Instalación <br /> <span class="text-sm font-normal">24/06/2024</span>`,
        icon: 'tabler:school',
      },
      {
        title: `Capacitación <br /> <span class="text-sm font-normal">29/06/2024</span>`,
        icon: 'tabler:school',
      },
      {
        title: `Entrega del proyecto <br /> <span class="text-sm font-normal">30/06/2024</span>`,
        icon: 'tabler:school',
      },
    ]}
    classes={{ container: 'max-w-3xl' }}
  >
  <Fragment slot="bg">
    <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
  </Fragment>
</Steps>

  <!-- Features2 Widget ************** -->

  <Features2
    title="Presupuesto inicial asignado."
    subtitle=""
    columns={1}
    items={[
      {
        title: '$150,000.00 - ciento cincuenta mil.',
        description:
          '',
        icon: 'tabler:school',
      },
    ]}
  >
</Features2>

  <!-- Features2 Widget ************** -->

  <Features2
    title="Lista de Interesados (stakeholders)"
    subtitle=""
    columns={2}
    items={[
      {
        title: 'Empacadora Alum',
        description:
          'Empresa contratante - Departamento de crédito y cobranza.',
        icon: 'tabler:school',
      },
      {
        title: 'Implementación de software constructivas (ISC)',
        description:
          'Encargado de desarrollar el proyecto.',
        icon: 'tabler:home-star',
      },
    ]}
  >
  <Fragment slot="bg">
    <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
  </Fragment>
</Features2>

  <!-- Content Widget **************** -->

  <Content
    id="porfolio"
    title="Requisitos de aprobación del proyecto:"
    isReversed
    items={[
      {
        description:
          'Proyecto terminado.',
      },
      {
        description: 
        `El proyecto cumple su cometido.`,
      },
      {
        description:
          'Manuales de usuario.',
      },
      {
        description: `Manual técnico.`,
      },
      {
        description: `Capacitación del personal.`,
      }
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1658248165252-71e116af1b34?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=928&q=80',
      alt: 'Tech Design Image',
    }}
    callToAction={{
    }}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    title="Criterios de cierre o cancelación:"
    items={[
      {
        description:
          'El cliente abandone el proyecto.',
      },
      {
        description: 
        `Incidentes en el área de trabajo que imposibilite la continuación de este.`,
      },
      {
        description:
          'Los desarrolladores abandonen el proyecto.',
      },
      {
        description: `El costo se eleve demasiado.`,
      },
      {
        description: 
        `Los requisitos cambien por completo el rumbo del proyecto.`,
      },
      {
        description:
          'Problemas legales.',
      },
      {
        description: `Cambio en las necesidades de la empresa.`,
      }
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1619983081563-430f63602796?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80',
      alt: 'Departamento de Desarrollo de Software',
    }}
    callToAction={{
    }}
  >

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Testimonials Widget *********** -->

  <Testimonials
    title="Asignación del gerente de proyecto y nivel de autoridad "
    testimonials={[
      {
        testimonial: `Gestión de presupuesto y de sus variaciones.`,
        name: 'Velazquez Hernandez Aldo ',
        job: 'Gerente de Recursos Humanos',
        image: {
          src: 'https://images.unsplash.com/photo-1561406636-b80293969660?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80',
          alt: 'Velazquez Hernandez Aldo  Image',
        },
      },
      {
        testimonial: `Resolución de conflictos .`,
        name: 'Jurado Santos Alberto Isaac ',
        job: 'Gerente de Desarrollo de Software',
        image: {
          src: 'https://images.unsplash.com/photo-1545167622-3a6ac756afa4?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=824&q=80',
          alt: 'Jurado Santos Alberto Isaac Image',
        },
      },
      {
        testimonial: `Decisiones técnicas                                          .`,
        name: 'Ponce Ortega Miguel Angel ',
        job: 'Gerente de atención al cliente.',
        image: {
          src: 'https://images.unsplash.com/photo-1545167622-3a6ac756afa4?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=824&q=80',
          alt: 'Ponce Ortega Miguel Angel  Image',
        },
      },
      {
        testimonial: "Departamento / División  ~  División de Desarrollo,  Decisiones de personal (Staffing) ",
        name: 'Sánchez Ramos Jorge Alberto ',
        job: 'Gerente de proyecto',
        image: {
          src: 'https://images.unsplash.com/photo-1618835962148-cf177563c6c0?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=930&q=80',
          alt: 'Sánchez Ramos Jorge Alberto',
        },
      },
      {
        testimonial: `Ruta de escalamiento y limitaciones de autoridad.`,
        name: 'Estrada Corona Alexis',
        job: 'Gerente de finanzas.',
        image: {
          src: 'https://images.unsplash.com/photo-1545167622-3a6ac756afa4?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=824&q=80',
          alt: 'Estrada Corona Alexis Image',
        },
      },
    ]}
  />

  <!-- Features2 Widget ************** -->

  <Features2
    title="Personal y recursos preasignados"
    subtitle=""
    columns={2}
    items={[
      {
        title: 'División de desarrollo',
        description:
          'Sueldo de Desarrolladores, licencias de software.',
        icon: 'tabler:school',
      },
      {
        title: 'Departamento auxiliar',
        description:
          'Sueldos de documentadores.',
        icon: 'tabler:home-star',
      },
    ]}
  >
  <Fragment slot="bg">
    <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
  </Fragment>
</Features2>

  <!-- Features2 Widget ************** -->

  <Features2
    title="Aprobaciones"
    subtitle=""
    columns={2}
    items={[
      {
        title: '24/02/2024',
        description:
          'Empacadora Alum.',
        icon: 'tabler:school',
      },
      {
        title: '24/02/2024',
        description:
          'Implementación de software constructivas (ISC).',
        icon: 'tabler:home-star',
      },
    ]}
  />


  <!--A partir de aqui se termina -->

  <!-- Features Widget *************** -->

  <Features
    id="features"
    title="Why choose AstroWind?"
    subtitle="Each of the following features enhances AstroWind's value proposition."
    columns={2}
    items={[
      {
        title: 'Integration of Astro 4.0 and Tailwind CSS',
        description:
          'Offers a powerful combination that enhances both the development process and the end-user experience. Also, allows to build dynamic and visually stunning websites with optimized performance.',
        icon: 'tabler:layers-union',
      },
      {
        title: 'Versatile design for startups, small businesses, and more',
        description: `Easily customize AstroWind to harmonize with the unique branding and identity of your venture. AstroWind's versatile design adapts to suit your needs.`,
        icon: 'tabler:artboard',
      },
      {
        title: 'Effortless customization for portfolios and marketing sites',
        description:
          'With intuitive customization, easily showcase portfolio pieces, case studies, project highlights, and relevant content. Ideal for creative professionals and businesses looking to highlight their expertise.',
        icon: 'tabler:writing',
      },
      {
        title: 'Optimized landing pages and engaging blogs',
        description: `Landing pages are strategically designed to captivate visitors and prompt specific actions. Additionally, the blog creation feature empowers sharing insights, engaging the audience.`,
        icon: 'tabler:podium',
      },
      {
        title: 'Fast loading times and production-ready code',
        description: `Using Astro 4.0 ensures fast loading and seamless rendering, enhancing browsing. The code follows best practices, improving user experience, SEO, and reducing bounce rates.`,
        icon: 'tabler:rocket',
      },
      {
        title: 'SEO-optimized structure for enhanced visibility',
        description: `Follows SEO best practices with clean code, semantic HTML markup, and fast loading, enhancing search engine rankings. AstroWind's SEO structure ensures visibility to potential customers and clients.`,
        icon: 'tabler:eyeglass',
      },
    ]}
  />

  <!-- FAQs Widget ******************* -->

  <FAQs
    title="Frequently Asked Questions"
    items={[
      {
        title: 'Is AstroWind compatible with the latest versions of Astro and Tailwind CSS?',
        description:
          'Yes, AstroWind is designed to be compatible with the latest versions of both Astro and Tailwind CSS. This ensures that you can harness the full capabilities of these technologies while benefiting from the features offered by AstroWind.',
        icon: 'tabler:chevrons-right',
      },
      {
        title: 'Can I use AstroWind for both personal and commercial projects?',
        description: `Certainly! AstroWind is versatile and can be used for a wide range of projects, including both personal and commercial endeavors. Whether you're building a professional portfolio, launching a startup, or creating a marketing website, AstroWind has you covered.`,
        icon: 'tabler:chevrons-right',
      },
      {
        title: 'What level of coding knowledge is required to use AstroWind?',
        description:
          'While some familiarity with HTML, CSS, and web development concepts is helpful, the user-friendly interface and customization options allow those with limited coding experience to create impressive websites. For more advanced users, AstroWind offers extensive customization capabilities.',
        icon: 'tabler:chevrons-right',
      },
      {
        title: 'Is customer support available for AstroWind users seeking guidance?',
        description: `Absolutely, our dedicated customer support team is here to assist you with any questions or challenges you may encounter. Feel free to reach out to us through our support channels, and we'll be happy to provide the help you need.`,
        icon: 'tabler:chevrons-right',
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </FAQs>

</Layout>
