---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import HeroAzul from '~/components/widgets/HeroAzul.astro';
import Content from '~/components/widgets/Content.astro';

const metadata = {
  title: 'Cultura Organizacional',
};
---

<Layout metadata={metadata}>

  <Hero
    tagline="S&C FACTUR S.A DE C.V"
    title="Cultura Organizacional"
  />

  <!-- Hero2 Widget ******************* -->

  <Hero
    id="hero"
    title="Visión"
    tagline=""
    actions={[]}
  >
    <Fragment slot="subtitle">
      <p class="text-center">
        “Proporcionar a nuestros clientes soluciones eficientes y personalizadas para optimizar la gestión de sus facturas, manteniendo altos estándares de calidad y seguridad en nuestros productos y servicios.”   
      </p>
    </Fragment>
  </Hero>

  <HeroAzul
    title="Misión"
    tagline=""
    actions={[]}
  >
    <Fragment slot="subtitle">
      <p class="text-justify ">
        “Ser la empresa líder en organización de facturas, reconocida por ofrecer soluciones innovadoras y altamente eficientes que permitan a nuestros clientes optimizar la gestión de sus facturas, ahorrar tiempo, reducir el estrés y tener un mayor control sobre sus finanzas.”   
      </p>
    </Fragment>
  </HeroAzul>

  <!-- Content Widget **************** -->

  <Content
    id="porfolio"
    title="Política General"
    subtitle="La política general de nuestra empresa de organización de facturas se centra en proporcionar a nuestros clientes soluciones eficientes y personalizadas para optimizar la gestión de sus facturas."
    isReversed
    items={[
      {
        title: 'Nos comprometemos a:',
        description:
          'Proporcionar un servicio de alta calidad que cumpla con las necesidades y expectativas de nuestros clientes en términos de organización de facturas.',
      },
      {
        title: 'Nos comprometemos a:',
        description:
          'Mantenernos a la vanguardia de la tecnología, desarrollando software propio y adoptando herramientas innovadoras para ofrecer soluciones eficientes y personalizadas.',
      },
      {
        title: 'Nos comprometemos a:',
        description:
          'Garantizar la confidencialidad y seguridad de la información de nuestros clientes en todo momento, mediante la implementación de rigurosos protocolos de seguridad.',
      },
      {
        title: 'Nos comprometemos a:',
        description:
          'Promover una cultura de trabajo colaborativa y de desarrollo continuo, donde cada miembro del equipo tenga la oportunidad de contribuir con sus ideas y talentos.',
      },
    ]}
    image={{
      src: '~/assets/images/politicaEmpresarial.jpg',
      alt: '~/assets/images/ambiente.webp',
    }}
    callToAction={{
    }}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    title="Política Por Departamento"
    items={[
      {
        title: 'Se compromete a:',
        description:
          'Investigar y desarrollar constantemente nuevas soluciones tecnológicas para mejorar la eficiencia y la personalización de nuestros servicios de organización de facturas. ',
      },
      {
        title: 'Se compromete a:',
        description: `Garantizar la calidad y seguridad de nuestros productos mediante rigurosas pruebas y estándares de desarrollo. `,
      },
    ]}
    image={{
      src: '~/assets/images/desarrollo.webp',
      alt: 'Departamento de Desarrollo de Software',
    }}
    callToAction={{
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        Departamento de Desarrollo de Software:
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isReversed
    isAfterContent={true}
    items={[
      {
        title: 'Se compromete a:',
        description: `Ofrecer un servicio personalizado y de alta calidad, brindando asistencia y soporte a nuestros clientes en todo momento. `,
      },
      {
        title: 'Se compromete a:',
        description: `Resolver las consultas y problemas de nuestros clientes de manera rápida y efectiva, demostrando empatía y profesionalismo en cada interacción. `,
      },
    ]}
    image={{
      src: '~/assets/images/atencion-al-cliente-jpg-800.jpg',
      alt: 'Departamento de Atención al Cliente',
    }}
    callToAction={{
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        Departamento de Atención al Cliente:
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0"></div>
    </Fragment>
  </Content>

  <HeroAzul
    title="Objetivo"
    tagline=""
    actions={[]}
  >
    <Fragment slot="subtitle">
      <p class="text-justify ">
        Nuestro objetivo principal es consolidarnos como la empresa líder en organización de facturas, ofreciendo soluciones innovadoras y eficientes que permitan a nuestros clientes ahorrar tiempo, reducir el estrés y tener un mayor control sobre sus finanzas. Además, nos comprometemos a mantener un equipo altamente calificado y una cultura de trabajo colaborativa que nos permita seguir superando las expectativas de nuestros clientes y diferenciarnos de la competencia.    
      </p>
    </Fragment>
  </HeroAzul>

</Layout>
