---
import Layout from '~/layouts/PageLayout.astro';

import Features3 from '~/components/widgets/Features3.astro';

const metadata = {
  title: 'Mobile App Homepage',
};
---

<Layout metadata={metadata}>
  

  <!-- Features3 Widget ************** -->

  <Features3
    id="features"
    title="Estructura Organizacional"
    subtitle=""
    tagline="S&C Factur S.A de C.V"
    columns={2}
    items={[
      {
        title: '',
        description: ``,
        icon: '',
      },
      {
        title: '',
        description: ``,
        icon: '',
      },
      {
        title: 'Departamento de Desarrollo de Software ',
        description:
            '<ul>' +
              '<li>• Gerente de Desarrollo de Software: Encargado de liderar el desarrollo de nuevas soluciones tecnológicas para la gestión de facturas. </li>' +
              '<li>• Equipo de Desarrollo de Software: Ingenieros y desarrolla- dores responsables de la creación y mantenimiento del software de gestión de facturas.  </li>' +
            '</ul>',
        icon: 'tabler:square-number-2',
      },
      {
        title: 'Departamento de Atención al Cliente ',
        description: 
            '<ul>' +
              '<li>• Gerente de Atención al Cliente: Responsable de garantizar la satisfacción y fidelización de los clientes.  </li>' +
              '<li>• Equipo de Atención al Cliente y mantenimiento: Agentes de servicio al cliente encargados de resolver consultas y problemas de los clientes relacionados con la gestión de facturas. </li>' +
            '</ul>',
        icon: 'tabler:square-number-3',
      },
      {
        title: 'Departamento de Finanzas ',
        description: 
            '<ul>' +
              '<li>• Gerente de finanzas: Responsable de la gestión financiera de la empresa y la aplicación. </li>' +
              '<li>• Encargado Financiero de la empresa: Encargado de la gestión financiera de la empresa en relación con la facturación y los pagos. </li>' +
              '<li>• Encargado Financiero de la aplicación: Contadores y analistas financieros responsables de llevar a cabo las tareas financieras relacionadas con la facturación. </li>' +
            '</ul>',
        icon: 'tabler:square-number-4',
      },
      {
        title: 'Recursos Humanos  ',
        description: 
            '<ul>' +
              '<li>• Gerente de Recursos Humanos: Responsable de la gestión del talento humano de la empresa, incluyendo contratación, capacitación y desarrollo de habilidades relacionadas con la gestión de facturas. </li>' +
              '<li>• Equipo de Recursos Humanos: Personal encargado de llevar a cabo las funciones de recursos humanos relacionadas con el departamento de gestión de facturas.</li>' +
            '</ul>',
        icon: 'tabler:square-number-4',
      },
      {
        title: 'Dirección General ',
        description: 
            '<ul>' +
               '<li>• Responsable de la dirección estratégica de la empresa y de la toma de decisiones clave.</li>' +
            '</ul>',
        icon: 'tabler:square-number-1',
      },
    ]}
    image={{
      src: '~/assets/images/Estructura Organizacional.png',
      alt: 'Estructura Organizacional',
    }}
  />
</Layout>
