---
import Layout from '~/layouts/PageLayout.astro';
import Hero from '~/components/widgets/Hero.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Features from '~/components/widgets/Features.astro';

const metadata = {
  title: 'Filosofía Organizacional',
};
---

<Layout metadata={metadata}>

  <Hero
    tagline="S&C FACTUR S.A DE C.V"
    title="Filosofía Organizacional"
  />

  <!-- Features2 Widget ************** -->

  <Features2
    title="Credo"
    subtitle="Creemos en la importancia de proporcionar soluciones eficientes y personalizadas para optimizar la gestión de facturas, contribuyendo así al bienestar y la eficiencia de nuestros clientes. "
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Features2>

  <!-- Features Widget *************** -->

  <Features
    id="features"
    title="Valores "
    subtitle="Nuestros valores fundamentales incluyen: "
    columns={2}
    items={[
      {
        title: 'Excelencia ',
        description:
          'Nos esforzamos por ofrecer productos y servicios de la más alta calidad, superando las expectativas de nuestros clientes.',
        icon: 'tabler:discount-check-filled',
      },
      {
        title: 'Innovación',
        description: 'Buscamos constantemente nuevas formas de mejorar y adaptarnos a las necesidades cambiantes del mercado.',
        icon: 'tabler:picture-in-picture',
      },
      {
        title: 'Integridad ',
        description:
          'Actuamos con honestidad, transparencia y ética en todas nuestras interacciones. ',
        icon: 'tabler:circle-key-filled',
      },
      {
        title: 'Confianza ',
        description: 'Brindamos un servicio transparente y seguro, protegiendo la información de nuestros clientes.',
        icon: 'tabler:shield-check-filled',
      },
      {
        title: 'Compromiso ',
        description:
          'Nos comprometemos a:' +
          '<ul>' +
               '<li>• Proporcionar un servicio de alta calidad.</li>' +
               '<li>• Desarrollar soluciones innovadoras.</li>' +
               '<li>• Garantizar la seguridad de la información de nuestros clientes.</li>' +
          '</ul>',
        icon: 'tabler:heart-handshake',
      },
      {
        title: 'Compromiso ',
        description:
          'Nos comprometemos a:' +
          '<ul>' +
               '<li>• Promover una cultura de colaboración y desarrollo.</li>' +
               '<li>• Actuar de manera responsable y sostenible en todas nuestras operaciones.</li>' +
          '</ul>',
        icon: 'tabler:heart-handshake',
      },
    ]}
  />
</Layout>
