---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';

const metadata = {
  title: 'S&C Factur S.A de C.V ',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->
  <Hero

    image={{ src: '~/assets/images/LOGO.png', alt: 'AstroWind Hero Image' }}
  >
    <Fragment slot="title">
      <span class="hidden xl:inline">INSTITUTO POLITÉCNICO NACIONAL</span>
      <span class="hidden xl:inline">ESCUELA SUPERIOR DE CÓMPUTO</span>
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        <span class="font-semibold">ACADEMIA DE PROYECTOS ESTRATÉGICOS Y TOMA DE DECISIONES </span> <br>
        </span>
      <span class="block mb-1 sm:hidden font-bold text-blue-600">INSTITUTO POLITÉCNICO NACIONAL <br>ESCUELA SUPERIOR DE CÓMPUTO</span>
      GESTIÓN EMPRESARIAL <br>

    </Fragment>
    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        <span class="font-semibold">S&C Factur S.A de C.V</span>
        </span>
    </Fragment>
    
  </Hero>

</Layout>
