---
import CallToAction from '~/components/widgets/CallToAction.astro';
import Content from '~/components/widgets/Content.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Hero from '~/components/widgets/Hero.astro';
import Testimonials from '~/components/widgets/Testimonials.astro';
import Layout from '~/layouts/PageLayout.astro';

const metadata = {
  title: 'Herramientas de Gestión Estratégica',
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    tagline="S&C FACTUR S.A DE C.V"
    title="Herramientas de Gestión Estratégica "
    
  />  
  <!-- Content Widget **************** -->

  <Content
    isReversed
    items={[
      {
        title: 'Estrategia, estructura y rivalidad de la empresa',
        description:
          'La empresa se distingue por su enfoque centrado en el cliente y su capacidad para adaptar sus servicios a las necesidades individuales de cada cliente. Su estructura ágil le permite innovar rápidamente y responder a los cambios en el mercado, mientras que la rivalidad en el sector la impulsa a mantener altos estándares de calidad y eficiencia en sus servicios.',
      
      }, 
      {
        title: 'Condiciones de la demanda',
        description:
          'Existe una creciente demanda de servicios de organización de facturas entre individuos y pequeñas empresas que buscan simplificar sus procesos financieros y administrativos. Esta demanda se ve impulsada por la necesidad de ahorrar tiempo y reducir el estrés asociado con la gestión de documentos financieros.',
      
      },
      {
        title: 'Sectores conexos y de apoyo',
        description:
          'La empresa se beneficia de la colaboración con proveedores de tecnología y software de gestión financiera, así como de servicios financieros que facilitan la integración de sus soluciones con sistemas bancarios y de pago.',
      
      },
    ]}
    image={{
      src: '~/assets/images/diamante4.png',
      alt: 'Diamante de Porter',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Diamante de Porter</h3>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isAfterContent
    items={[
      {
        title: 'Condiciones de los factores',
        description:
          'La rivalidad entre empresas gestoras de facturas puede ser intensa, especialmente si hay muchas empresas que ofrecen servicios similares en el mismo mercado. La diferenciación de servicios, la innovación tecnológica y la calidad del servicio pueden ser clave para destacar entre la competencia.',
     
      },
      {
        title: 'El azar',
        description:
          'Si un evento inesperado crea oportunidades en el mercado o reduce las barreras de entrada, podría aumentar la amenaza de nuevos competidores en la industria de la gestión de facturas. Por ejemplo, si un cambio regulatorio facilita la entrada de nuevas empresas al mercado, podría aumentar la competencia y afectar la rentabilidad de las empresas existentes.',
     
      },
      {
        title: 'Gobierno',
        description:
          ' Las políticas gubernamentales favorables hacia la digitalización de procesos financieros y la protección de datos personales proporcionan un entorno propicio para el crecimiento de la empresa. Además, las regulaciones que promueven la transparencia en la gestión financiera aumentan la demanda de servicios de organización de facturas.',
      
      },
    ]}
    image={{
      src: '~/assets/images/diamante2.png',
      alt: 'Benefits Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2"></h3>
    </Fragment>
  </Content>

  <!-- Testimonials Widget *********** -->

  <Content
  isReversed
  items={[
    {
      title: 'Fortalezas',
      description:
      '<ul>' +
          '<li>1. Tecnología avanzada: La empresa cuenta con una plataforma tecnológica avanzada que permite la gestión eficiente de facturas y documentos financieros.</li>' +
          '<li>2. Flexibilidad y personalización: La empresa ofrece soluciones personalizadas adaptadas a las necesidades individuales de cada cliente, lo que aumenta su satisfacción y fidelización.</li>' +
       '</ul>',
    }, 
    {
      title: 'Oportunidades',
      description:
      '<ul>' +
          '<li>1. Crecimiento del mercado: Existe un crecimiento continuo en la demanda de servicios de organización de facturas debido a la digitalización de procesos financieros y administrativos.</li>' +
          '<li>2. Expansión a nuevos segmentos: La empresa puede expandir su alcance a nuevos segmentos de mercado, como pequeñas empresas y profesionales independientes que necesitan ayuda con la gestión de facturas.</li>' +
          '<li>3. Alianzas estratégicas: La posibilidad de establecer alianzas estratégicas con proveedores de tecnología y servicios financieros para mejorar su oferta y alcance.</li>' +
          '</ul>',
    },
  ]}
  image={{
    src: '~/assets/images/foda.png',
    alt: 'Diamante de Porter',
  }}
>
  <Fragment slot="content">
    <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Matriz FODA</h3>
  </Fragment>
</Content>

  <!-- CallToAction Widget *********** -->

  <Content
    isAfterContent
    items={[
      {
      title: 'Debilidades',
      description:
      '<ul>' +
          '<li>1. Dependencia de la tecnología: La empresa puede ser vulnerable a interrupciones en su plataforma tecnológica, lo que podría afectar la prestación de servicios.</li>' +
          '<li>2. Costos operativos: Los altos costos operativos asociados con la tecnología y el personal especializado pueden afectar la rentabilidad de la empresa.</li>' +
       '</ul>',
    }, 
    {
      title: 'Amenazas',
      description:
      '<ul>' +
          '<li>1. Competencia: La competencia en el mercado de la gestión de facturas está aumentando, lo que podría afectar la participación de mercado de la empresa.</li>' +
          '<li>2. Cambios regulatorios: Cambios en las regulaciones fiscales y financieras podrían afectar los procesos y requisitos de gestión de facturas, lo que requeriría adaptaciones por parte de la empresa.</li>' +
          '<li>3. Seguridad de datos: Las preocupaciones sobre la seguridad y privacidad de los datos financieros pueden afectar la confianza de los clientes y la reputación de la empresa si no se abordan adecuadamente.</li>' +
          '</ul>',
    },
    ]}
    image={{
      src: '~/assets/images/foda.png',
      alt: 'Benefits Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2"></h3>
    </Fragment>
  </Content>

  
</Layout>
