---
import Layout from '~/layouts/PageLayout.astro';
import Content from '~/components/widgets/Content.astro';
import Features3 from '~/components/widgets/Features3.astro';

const metadata = {
  title: 'Herramientas de Gestión Operativa en la Empresa ',
};
---

<Layout metadata={metadata}>
  

  <!-- Features3 Widget ************** -->

  <Features3
    id="features"
    title="Herramientas de Gestión Operativa en la Empresa"
    subtitle="Evaluación tecnológica de la empresa "
    tagline="S&C Factur S.A de C.V"
    columns={2}
    items={[
      {
        title: 'Descubrimiento',
        description: 'Actualmente hay 1 equipo de desarrollo y 1 de soporte técnico, se plantea la implementación de nuevas tecnologías que ayuden a la optimización de trabajo en todas las áreas, pero principalmente en las áreas de desarrollo y soporte para que estos miembros se saquen 2 equipos de desarrollo y uno de soporte para tomar más proyectos.'+
        '<ul>' +
              '<li>De esta manera lograremos: </li>' +
              '<li></li>' +
              '<li>• Aumento de ganancia.</li>' +
              '<li>• Disminución de tiempo de las actividades.</li>' +
              '<li>• Aumento de productividad.</li>' +
              '<li>• Aumento de número de proyectos a desarrollar en paralelo.</li>' +
            '</ul>',
        icon: 'tabler:square-number-1',
      },
      {
        title: 'Análisis',
        description: `Se realizarán las siguientes actividades en búsqueda de cumplir los objetivos:` +
        '<ul>' +
              '<li>• Revisión de los procesos de cómo se realizan las actividades de cada área. </li>' +
              '<li>• Diseño de la solución de software o implementación de las ya existentes en el mercado.</li>' +
              '<li>• Especificación de los requisitos técnicos de cada área para ver si requieren una actualización.</li>' +
              '<li>• Búsqueda de implementar tecnologías verdes.</li>' +
            '</ul>',
            icon: 'tabler:square-number-2',
      },
      {
        title: 'Desarrollo',
        description:'En base a lo anterior se decidió optimizar los tikets que se reciben en el área de soporte con un chatbot con IA para reducir tiempos y personal que se requiere para la toma de tikets. Uso de tecnologías de apoyo a los programadores como (Copilot), disminución en el tiempo de revisión de documentación con ChatGPT para aumentar la productividad de estos, así como una disminución en el tiempo que requieren de desarrollo. Implementar nuevas macros, añadiendo y optimizando las tecnologías mas recientes de la aplicación para el departamento de finanzas. ',
        icon: 'tabler:square-number-3',
      },
      {
        title: 'Documentación',
        description: 'Se desarrollarán las siguientes actividades luego de aplicar el desarrollo: '+
            '<ul>' +
              '<li>• Documentar el proceso de evaluación: Registrar todas las etapas del proceso de evaluación, incluyendo los criterios evaluación, los resultados de las pruebas, las razones de la selección de la tecnología, etc.</li>' +
              '<li>• Documentar el proceso de implementación: Regisesolvieron, los cambios realizados, y cualquier otra información relevante. trar todos los pasos tomados durante la implementación de la tecnología, incluyendo los desafíos encontrados y cómo se resolvieron, los cambios realizados, y cualquier otra información relevante.  </li>' +
              '<li>• Proporcionar capacitación y documentación para los usuarios: Desarrollar materiales de capacitación y documentación para ayudar a los usuarios a familiarizarse con la nueva tecnología y maximizar su uso efectivo.</li>' +
              '</ul>',
        icon: 'tabler:square-number-3',
      },
    ]}
  />

  <Features3
  id="features"
  title=""
  subtitle="Optimización de recursos tecnológicos"

  
  columns={2}
  items={[
    {
      title: 'Descubrimiento',
      description: 'Actualmente hay 1 equipo de desarrollo y 1 de soporte técnico, se plantea la implementación de nuevas tecnologías que ayuden a la optimización de trabajo en todas las áreas, pero principalmente en las áreas de desarrollo y soporte para que estos miembros saquen 2 equipos de desarrollo y uno de soporte para tomar más proyectos.'+
      '<ul>' +
            '<li>De esta manera lograremos: </li>' +
            '<li></li>' +
            '<li>• Aumento de ganancia.</li>' +
            '<li>• Disminución de tiempo de las actividades.</li>' +
            '<li>• Aumento de productividad.</li>' +
            '<li>• Aumento de número de proyectos a desarrollar en paralelo.</li>' +
          '</ul>',
      icon: 'tabler:square-number-1',
    },
    {
      title: 'Análisis',
      description: `Se realizarán las siguientes actividades en búsqueda de cumplir los objetivos:` +
      '<ul>' +
            '<li>• Revisión de los procesos de cómo se realizan las actividades de cada área. </li>' +
            '<li>• Diseño de la solución de software o implementación de las ya existentes en el mercado.</li>' +
            '<li>• Especificación de los requisitos técnicos de cada área para ver si requieren una actualización.</li>' +
            '<li>• Búsqueda de implementar tecnologías verdes.</li>' +
          '</ul>',
          icon: 'tabler:square-number-2',
    },
    {
      title: 'Desarrollo',
      description:'En base a lo anterior se decidió optimizar los tikets que se reciben en el área de soporte con un chatbot con IA para reducir tiempos y personal que se requiere para la toma de tikets. Uso de tecnologías de apoyo a los programadores como (Copilot), disminución en el tiempo de revisión de documentación con ChatGPT para aumentar la productividad de estos, así como una disminución en el tiempo que requieren de desarrollo. Implementar nuevas macros, añadiendo y optimizando las tecnologías mas recientes de la aplicación para el departamento de finanzas. ',
      icon: 'tabler:square-number-3',
    },
    {
      title: 'Documentación',
      description: 'Se desarrollarán las siguientes actividades luego de aplicar el desarrollo: '+
          '<ul>' +
            '<li>• Documentar el proceso de evaluación: Registrar todas las etapas del proceso de evaluación, incluyendo los criterios evaluación, los resultados de las pruebas, las razones de la selección de la tecnología, etc.</li>' +
            '<li>• Documentar el proceso de implementación: Regisesolvieron, los cambios realizados, y cualquier otra información relevante. trar todos los pasos tomados durante la implementación de la tecnología, incluyendo los desafíos encontrados y cómo se resolvieron, los cambios realizados, y cualquier otra información relevante.  </li>' +
            '<li>• Proporcionar capacitación y documentación para los usuarios: Desarrollar materiales de capacitación y documentación para ayudar a los usuarios a familiarizarse con la nueva tecnología y maximizar su uso efectivo.</li>' +
            '</ul>',
      icon: 'tabler:square-number-3',
    },
  ]}
/>


</Layout>
